<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Yubotu.0.3/src/dvtr/logicgames/yubotu/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dvtr.logicgames.yubotu.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Yubotu.0.3"/>
</launchConfiguration>
